.App {
  text-align: left;
  text-align: left;
  padding: 0; /* Remove padding */
  margin: 0; /* Optional: Remove margin */
}

.App-header {
 background: linear-gradient(to right, #92a9f2, #d2f3e2, #5fff9c);
  min-height: 30vh; /* Header height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Responsive font size */
  color: rgb(2, 65, 20); 
}

.components-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; /* Full width of the page */
  padding: 50px; 
  box-sizing: border-box; /* Include padding in the element's total width */
  gap: 20px; /* Add space between items instead of using margins */
}

.counter-container {
  flex:1 ; /* Allow Counter to take up available space */
  max-width: 300px; 
  box-sizing: border-box; 
}
