body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}


.todo-title {
    text-align: center; 
    margin-bottom: 12px; 
}

/* Style of the list */
ul#todoList {
    list-style-type: none; 
    margin: 0;
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
}

/* Style of the elements of the list */
ul#todoList li {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; /*  Hover Transition  */
}

/* Style hover for the items */
ul#todoList li:hover {
    background-color: #e9ecef; 
    transform: translateY(-2px); 
}
